  body {
                background: rgb(51, 102, 153);

                color: rgb(0, 0, 0);
                padding: 10px;
                font-family: italic;
            }
            header {
                font-size: 1.5em;
                font-weight: bold;
            }
            #all-contents {
                max-width: 800px;
                margin: auto;
            }
    
            /* navigation menu */
            nav {

                background: rgb(255, 214, 51);
                margin: 10 auto;

                margin-bottom: 20px;
                display: flex;
                padding: 10px;
            }
            nav header {
                display: flex;
                align-items: center;
                color: rgb(0, 0, 0);
                flex: 1;
            }
            nav ul {
                list-style-image: none;
            }
            nav li {
                display: inline-block;
                padding: 0 10px;
            }
            nav a {
                text-decoration: none;
                color: #000000;
            }
    
            /* main container area beneath menu */
            main {

                background: rgb(51, 102, 153);

                display: flex;
            }
            .sidebar {
                margin-right: 25px;
                padding: 10px;
            }
            .sidebar img {
                width: 200px;
            }
            .content {
                flex: 1;
                padding: 15px;
            }
            .interests header {
                font-size: 1.25em;
                
            }
            div {
                border-style: ridge;
               border-width: 5px;

              border-color: rgb(51, 102, 153);
                
            }


